<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clicker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="center" horizontal="center" size="large">
    <ion-fab-button (click)="playChime()">
      <ion-icon name="volume-high"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>